
COMPUTER vs

GİT/GİT.docx

GİT/GitHub.docx

HTML-CSS/HTML/Cookies.docx
HTML-CSS/HTML/Cyber Attacks.docx
HTML-CSS/HTML/Databases.docx
HTML-CSS/HTML/Encryption.docx
HTML-CSS/HTML/HTML.docx
HTML-CSS/HTML/Introduction to AI.docx
HTML-CSS/HTML/Machine Learning.docx
HTML-CSS/HTML/Open-Source Software and Licensing.docx
HTML-CSS/HTML/Security and Password.docx
HTML-CSS/HTML/Servers.docx
HTML-CSS/HTML/What is a Web Browser.docx
HTML-CSS/HTML/What is HTTP.docx
HTML-CSS/HTML/Windows Subsystem for Linux Installation Guide for Windows 10.docx
HTML-CSS/CSS dersleri/CSS.docx

Jira/Jira.docx

LINUX/Linux.docx

Network/Commomn Network Connectivity Devices.docx
Network/Ethernet Basics.docx
Network/Introduction TCP IP.docx
Network/Network Basics.docx
Network/Network Topologies.docx
Network/Physical Media.docx
Network/The OSI Reference Model.docx
Network/Troubleshooting IP Addressing(Optional).docx
Network/TROUBLESHOOTING TOOLS.docx
Network/Using The nbstat Utility.docx

PYTHON DERSLERİ/Python-PreClass Notlarım/PYTHON PRE-CLASS.docx
PYTHON DERSLERİ/Python-worksheet/PYTON_ADDICT_CLARUSWAY.ipynb
PYTHON DERSLERİ/Python-worksheet/Addicts 62 - 76 soru-çözümleri.docx
PYTHON DERSLERİ/Python-worksheet/Addicts elle yazmalarım.ipynb

SQL/SQL Fundamentals.docx












